.header_homepage_wrapper {
   position: absolute;
   top: 0px;
   left: 50%;
   width: 90%;
   transform: translateX(-50%);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   padding-top: 50px;
   padding-bottom: 20px;

   &_nav {
      margin-inline: auto;
      display: flex;
      column-gap: 60px;

      p {
         font-family: "Antipasto-regular", "sans-serif";
         font-size: 33px;

         .left {
            color: #dadada;
         }

         .right {
            margin-left: 1px;
            color: #67695e;
         }
      }

      a {
         font-family: "Antipasto-regular", "sans-serif";
         font-size: 20px;
         display: flex;
         align-content: center;
         font-weight: 600px;
         transition: 0.3s ease-in-out color;

         span {
            margin-block: auto;
         }

         &:nth-child(1),
         &:nth-child(2) {
            color: #ffffff;

            &:hover {
               color: #dadada;
            }
         }

         &:nth-child(4),
         &:nth-child(5) {
            color: #989898;

            &:hover {
               color: #818181;
            }
         }
      }
   }

   &_sidemenu {
      margin-top: -22px;
      margin-left: auto;
      margin-right: 0px;

      display: flex;
      column-gap: 20px;

      a {
         display: flex;

         img {
            margin-block: auto;
         }
      }
   }
}
