.premiumbrand_wrapper {
   &_top {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 1fr;
      gap: 16px;
      margin-bottom: 16px;
      article {
         display: flex;
         align-content: center;
         background: white;
         position: relative;
         grid-column: span 2;

         a {
            display: flex;
            align-content: center;
            justify-content: center;
            width: 100%;
            padding-block: 46px;

            img {
               margin: auto;
               width: 50%;
               transition: 0.4s ease-in all;
            }
         }

         &:hover img {
            transform: scale(1.05);
         }

         &.hermes {
         }

         &.dior {
            img {
               width: 35%;
            }
         }
      }
   }
   &_grid {
      width: 100%;
      overflow: hidden;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 16px;
      grid-row-gap: 16px;

      article {
         display: flex;
         align-content: center;
         background: white;
         position: relative;

         a {
            display: flex;
            align-content: center;
            justify-content: center;
            width: 100%;
            padding-block: 46px;

            img {
               margin: auto;
               width: 50%;
               transition: 0.4s ease-in all;
            }
         }

         &:hover img {
            transform: scale(1.05);
         }
         &.gucci {
            grid-column: span 4;
            grid-row: span 2;
         }

         &.prada {
            grid-column: span 2;
         }

         &.lv {
            grid-column: span 2;
         }

         &.bv {
            grid-column: span 2;
         }

         &.marc_jacobs {
            grid-column: span 2;
         }

         &.bulgary {
            grid-column: span 2;
         }

         &.versace {
            grid-column: span 2;
         }

         &.saint_laurent {
            grid-column: span 2;
         }

         &.givenchy {
            grid-column: span 2;
         }
      }
   }
}
