.product_card {
   display: flex;
   flex-direction: column;
   img {
      filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.25));
   }
   &_desc {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      h2 {
         margin-block: 10px;
      }

      &_brand {
         margin-bottom: auto;
      }

      &_price {
         display: flex;
         justify-content: space-between;
         align-content: center;
      }
   }
}
