.desktopSignUpPageRootRootRoot {
    position: relative;
    gap: 31px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 55px 231px 33px 231px;
    box-sizing: border-box;
    background-color: #ffffff;
    overflow: hidden;
  }
  .image1 {
    width: 749px;
    height: 1051px;
    left: 939.9580078125px;
    top: 0px;
    position: absolute;
    gap: 11.6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 495px 44px 36.4px 44px;
    box-sizing: border-box;
    background-size: cover;
    background-image: url("https://file.rendit.io/n/yyLSLa1hnI15gYjxczdb.png");
  }
  .sapnuPuas {
    margin: 0px 0px 0px 58.4px;
    color: #ffffff;
    font-size: 48px;
    font-family: Brand;
    line-height: 41.040000915527344px;
    text-align: right;
    white-space: nowrap;
    box-sizing: border-box;
  }
  .dikemodelawards {
    margin: 0px 0px 314px 0.43px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    font-family: Poppins;
    line-height: 15.959999799728394px;
    white-space: nowrap;
    box-sizing: border-box;
  }
  .group1 {
    width: 96.22%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 38.6px 0px;
    box-sizing: border-box;
  }
  .thePicturesUsedInThisWebsiteAreSourcedFromVogueAndOtherReputableFashionSourcesWeDoNotClaimAnyCopyrightOrOwnershipOfTheseImagesTheyAreUsedForEducationalPurposesOnlyToShowcaseTheLatestFashionTrendsAndInspireOurUsers {
    width: 100.08%;
    height: 39px;
    left: 0.0001220703125px;
    top: 45.6446533203125px;
    position: absolute;
    color: #ffffff;
    font-size: 11px;
    font-weight: 500;
    font-family: Poppins;
    line-height: 12.539999842643738px;
    box-sizing: border-box;
  }
  .nobleWear {
    position: relative;
    color: #ffffff;
    font-size: 35px;
    font-family: Brand;
    white-space: nowrap;
    box-sizing: border-box;
  }
  .group {
    width: 694px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px 0px 0px 91px;
    box-sizing: border-box;
  }
  .back {
    width: 4.9%;
    min-width: 0px;
    max-width: 100%;
    min-height: 0px;
    box-sizing: border-box;
  }
  .byIzBrother1 {
    color: #474747;
    font-size: 33px;
    font-family: Antipasto Pro;
    white-space: nowrap;
    box-sizing: border-box;
  }
  .byIzBrother {
    display: contents;
    color: #ffffff;
    font-size: 33px;
    font-family: Antipasto Pro;
  }
  .rectangle {
    width: 634px;
    position: relative;
    gap: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 95px 91px 64px 91px;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  .group2 {
    width: 407px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0px 25px 22px;
    padding: 0px 150px 91px 150px;
    box-sizing: border-box;
  }
  .fashionablyLate {
    width: 407px;
    height: 62px;
    left: 0px;
    top: 23px;
    position: absolute;
    font-size: 48px;
    font-family: Brand;
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
  }
  .getAccessToFashionDealsAndDiscountsBySigningUpToday {
    width: 74.45%;
    height: 42px;
    left: 57px;
    top: 75px;
    position: absolute;
    color: #919191;
    font-size: 14px;
    font-family: Poppins;
    text-align: center;
    box-sizing: border-box;
  }
  .noblewear {
    position: relative;
    color: #525252;
    font-size: 20px;
    font-family: Brand;
    white-space: nowrap;
    box-sizing: border-box;
  }
  .group3 {
    width: 315px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px 0px 1px 0px;
    box-sizing: border-box;
  }
  .group4 {
    width: 451px;
    gap: 11px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0px 6px 0px;
    box-sizing: border-box;
  }
  .rectangle5 {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 14px 12px 14px 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #989898;
    box-sizing: border-box;
    background-position: 50% 50%;
    background-size: cover;
  }
  .xnixLineUser {
    width: 12.63%;
    min-width: 0px;
    max-width: 100%;
    min-height: 0px;
    box-sizing: border-box;
  }
  .rectangle6 {
    width: 50%;
    gap: 92px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 14px 11px 14px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: #989898;
    box-sizing: border-box;
    background-position: 50% 50%;
    background-size: cover;
  }
  .xnixLineInfo {
    width: 23.3%;
    min-width: 0px;
    max-width: 100%;
    min-height: 0px;
    box-sizing: border-box;
  }
  .element2 {
    margin: 0px 0px 1px 0px;
    font-size: 16px;
    font-weight: 700;
    font-family: Poppins;
    white-space: nowrap;
    box-sizing: border-box;
  }
  .rectangle4 {
    width: 451px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px 0px 18px 0px;
    padding: 14px 11px 14px 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #989898;
    box-sizing: border-box;
    background-position: 50% 50%;
    background-size: cover;
  }
  .helloworld {
    margin: 0px 0px 1px 0px;
    font-size: 16px;
    font-family: Poppins;
    white-space: nowrap;
    box-sizing: border-box;
  }
  .rectangle7 {
    width: 451px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0px 0px 51px 0px;
    padding: 16px 189px 17px 189px;
    box-sizing: border-box;
    background-color: #525252;
  }
  .signUp {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    font-family: Poppins;
    white-space: nowrap;
    box-sizing: border-box;
  }
  .group5 {
    width: 271px;
    gap: 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-end;
    align-items: flex-start;
    margin: 0px 86px 0px 0px;
    box-sizing: border-box;
  }
  .signIn {
    color: #777777;
    font-size: 16px;
    font-weight: 500;
    font-family: Poppins;
    white-space: nowrap;
    box-sizing: border-box;
  }
  