.homepage_wrapper_banner {
   position: relative;
   display: flex;
   flex-direction: column;
   &::before {
      content: "";
      background-color: #67695e;
      position: absolute;
      width: 49.4%;
      height: 100%;
      z-index: -1;
   }

   &::after {
      content: "";
      background-color: #dadada;
      position: absolute;
      left: 49.4%;
      width: 50.6%;
      height: 100%;
      z-index: -1;
   }

   &_content {
      padding-inline: 150px;
      position: relative;
      margin-top: 150px;
      padding-bottom: 142px;
      overflow: hidden;
      &_header {
         display: flex;
         justify-content: center;

         h1 {
            font-family: Brand, "sans-serif";
            font-size: 213px;
            text-transform: lowercase;
            font-weight: 400;

            .left {
               position: relative;
               left: -50px;
               color: #f3f3f3;
            }
            .right {
               position: relative;
               left: -30px;
               color: #989898;
            }
         }
      }

      &_img {
         height: 100%;
         position: absolute;
         bottom: -15px;
         left: 50%;
         transform: translateX(-50%);

         img {
            height: 100%;
         }
      }

      &_desc {
         display: flex;
         justify-content: space-between;

         &_leftcol {
            width: 35%;
            display: flex;
            flex-direction: column;

            .desc_1 {
               color: #f3f3f3;
               font-size: 21px;
               font-family: "Antipasto-regular", "sans-serif";
               font-weight: 400;
            }
            .desc_2 {
               color: #f3f3f3;
               font-size: 21px;
               margin-top: 10px;
               font-family: "Inter", "sans-serif";
               font-weight: 600;
            }

            .btn {
               margin-top: 34px;
               padding: 8px 31px;
               border: 2px #f3f3f3 solid;
               margin-right: auto;
               color: #f3f3f3;
               transition: 0.3s ease-in-out all;

               &:hover {
                  color: #67695e;
                  background-color: #f3f3f3;
               }
            }
         }

         &_rightcol {
            width: 35%;
            display: flex;
            justify-content: flex-end;

            ul {
               li {
                  font-family: "Antipasto-regular", "sans-serif";
                  font-size: 21px;
                  text-align: end;
                  list-style: none;
                  font-weight: 400;
                  transition: 0.1s ease-in-out font-weight;

                  &:not(:last-child) {
                     margin-bottom: 5px;
                  }

                  &:hover {
                     font-weight: 600;
                  }

                  a {
                     &::after {
                        content: "\2022";
                        color: #989898;
                        font-weight: bold;
                        display: inline-block;
                        width: 1em;
                        margin-left: 1px;
                     }
                     color: #989898;
                  }
               }
            }
         }
      }
   }
}

.homepage_wrapper_bestseller {
   background: url("../../assets/images/bestseller_bg.webp");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   padding: 55px 150px;

   display: flex;
   flex-direction: column;
   row-gap: 40px;
   &_head {
      display: flex;
      &_leftcol {
         width: 50%;
         h3 {
            color: #ffffff;
            font-size: 35px;
            font-weight: 700;
            line-height: 40.5px;
         }
         h2 {
            color: #929292;
            font-size: 76px;
            font-weight: 700;
            line-height: 64.6px;
         }

         p {
            margin-top: 20px;
            font-family: "Antipasto-regular", "sans-serif";
            color: white;
            font-size: 24px;
         }
      }
      &_rightcol {
         width: 50%;
         display: flex;
         justify-content: flex-end;

         &::after {
            content: url("../../assets//svg/arrow-topright.svg");
            width: 15px;
            margin-left: 10px;
         }

         a {
            font-family: "Antipasto-regular", "sans-serif";
            margin-bottom: auto;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 21px;
            color: white;
            border-bottom: 1px transparent solid;
            transition: 0.3s ease-in-out all;

            &:hover {
               border-bottom: 1px white solid;
            }
         }
      }
   }
   &_slider {
   }
}

.homepage_wrapper_premium {
   background: url("../../assets/images/premiumbrand_bg.webp");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   padding: 55px 150px;

   display: flex;
   flex-direction: column;

   &_head {
      text-align: right;
      margin-bottom: 60px;
      h3 {
         color: #EFEFEF;
         font-size: 35px;
         font-weight: 700;
         line-height: 40.5px;
      }
      h2 {
         color: #D6CEC0;
         font-size: 76px;
         font-weight: 700;
         line-height: 64.6px;
      }

      p {
         margin-top: 20px;
         font-family: "Antipasto-regular", "sans-serif";
         color: white;
         font-size: 24px;
         padding-left: 25%;
      }
   }
   
}

.homepage_wrapper_latest{
   padding: 51px 165px 119px;
   background:url('../../assets//images/latestproduct-bg.webp') ,linear-gradient(250.16deg, #67695E 42.65%, #818181 92.51%);
   display: flex;
   flex-wrap: wrap;
   column-gap: 24px;
   position: relative;

   &_leftcol{
      flex: 2;
      position: relative;
      &_article{
         position: relative;
         overflow: hidden;
         height: 100%;
         display: flex;
         box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.1);
         transition: 0.3s ease-in box-shadow;

         &:hover{
            box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.5)
         }
         &_content{
            position: relative;
            z-index: 2;
            h3{
               z-index: 4;
               padding-top: 40px;
               padding-inline: 26px;
               font-family: 'Brand';
               font-style: normal;
               font-weight: 400;
               font-size: 35px;
               line-height: 45px;
               color: white;
   
            }
   
            p{
               z-index: 4;
               padding-inline: 26px;
               width: 40%;

               font-family: 'Poppins';
               font-style: italic;
               font-weight: 500;
               font-size: 11px;
               line-height: 114%;
               /* or 13px */


               color: #FFFFFF;

   
            }
   
            h2{
               z-index: 4;
               padding-inline: 26px;
               padding-bottom: 40px;
               padding-top: 200px;

               font-family: 'Poppins';
               font-style: normal;
               font-weight: 600;
               font-size: 40px;
               line-height: 84%;
               /* or 34px */

               display: flex;
               align-items: center;

               color: #FFFFFF;
               
            }
         }


         img{
            z-index: 1;
            position: absolute;
            top: 0px;
            left: -5%;
            width: 110%;
            height: 100%;
            object-fit: cover;
    
         }

      }
   }

   &_rightcol{
      display: flex;
      position: relative;
      flex-direction: column-reverse;
      row-gap: 24px;
      flex: 1;
      &_article{
         position: relative;
         overflow: hidden;
         height: 100%;
         display: flex;
         align-content: flex-end;
         box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.1);
         transition: 0.3s ease-in box-shadow;

         &:hover{
            box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.5)
         }
         img{
            position: absolute;
            z-index: 1;
            top: 0px;
            left: -5%;
            width: 110%;
            height: 100%;
            object-fit: cover;
         }

         p{
            z-index: 2;
            margin-top: auto;
            margin-bottom: 0px;
            padding-inline: 15px;
            padding-bottom: 9px;

            font-family: 'Antipasto-regular';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 84%;
            /* or 19px */

            display: flex;
            align-items: center;

            color: #FFFFFF;
         }
         &.article1{

         }

         &.article2{

         }
      }
   }

}

.homepage_wrapper_confidence{ 
   background: #DADADA;
   display: flex;
   position: relative;
   justify-content: flex-end;
   flex-wrap: wrap;
   &_img{
      width: 35%;
      flex: 1;
      margin-top: -100px;
      z-index: 1;
   }

   &_content{
      z-index: 2;
      padding-right: 141px;
      padding-block: 48px;
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 2;
      align-content: space-between;
      justify-content: space-between;

      h2{
         font-family: 'Poppins';
         font-style: normal;
         font-weight: 600;
         font-size: 48px;
         line-height: 42px;
         color: #474747;
      }

      h3{
         font-family: 'Poppins';
         font-style: normal;
         font-weight: 600;
         font-size: 30px;
         line-height: 42px;
         color: #8B6F64;
         font-style: italic;

      }

      &_head{
         text-align: end;
      }

      &_cards{
         display: flex;
         column-gap: 24px;

         &_card{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            background: #FFFFFF;
            border-radius: 3px;

            padding: 15px 20px;
            row-gap: 10px;

            box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);

            &_head{
               display: flex;
               display: flex;
               align-content: center;

               &_img{
                  display: flex;
                  align-content: center;
                  width: 46px;
                  position: relative;
                  
                  img{
                     margin-block: auto;
                     object-fit: contain;
                     width: 100%;
                  }
               }

               h4{
                  margin-left: 9px;
                  align-self: center;
               }

               &_ratings{
                  margin-left: auto;
                  display: flex;
                  align-content: center;

                  p{
                     margin-block: auto;
                  }

                  &::before{
                     content: url('../../assets/svg/star.svg');
                     align-self: center;
                     margin-right: 9px;
                  }
               }


            }

            &_quote{

            }
         }
      }
      

   }
   img{
      flex: 1;

   }
}
