.productList_banner {
   padding-inline: calc((100% - 1140px) / 2);

   &_content {
      position: relative;
      min-height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 60px 27px;

      h1 {
         margin-top: auto;

         font-family: "Brand";
         font-style: normal;
         font-weight: 400;
         font-size: 120px;
         line-height: 166px;
         text-align: left;
         color: #ffffff;

         text-shadow: 0px 4px 9px rgba(0, 0, 0, 0.5);
      }

      &_desc {
         display: flex;
         justify-content: space-between;
         align-content: center;

         p {
            margin-block: auto;
            width: 40%;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 118%;
            /* or 19px */

            color: #ffffff;

            text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
         }

         a {
            padding: 12px 24px;
            border: 2px solid white;
            color: white;
            transition: all 0.3s ease-in-out;

            &:hover {
               color: #535353;
               background: white;
            }
         }
      }

      &_sliderbg {
         position: absolute;
         z-index: -1;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;

         img {
            height: 100%;
            width: 100%;
            object-fit: cover;
         }

         .slick-list {
            height: 100%;
            .slick-track {
               height: 100%;

               .slick-slide {
                  height: 100%;
                  div {
                     height: 100%;
                  }
               }
            }
         }
      }
   }
}

.productList_productList {
   padding-block: 28px;
   padding-inline: calc((100% - 1140px) / 2);
   display: flex;
   justify-content: space-between;
   @media (max-width: 1025px) {
      flex-wrap: wrap;
   }
   column-gap: 45px;

   &_filter {
      width: 35%;
   }

   &_products {
      width: 60%;

      .search {
         width: 100%;
         justify-content: space-between;
         display: flex;
         column-gap: 7px;
         input {
            flex: 3;
         }
         button {
            flex: 1;
         }
      }

      .catalog {
         margin-top: 24px;
         width: 100%;
         position: relative;
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
         grid-auto-rows: auto;
         gap: 16px;
      }

      .pagination {
         display: flex;
         justify-content: center;
         margin-top: 96px;

         &_prev {
            margin-right: 8px;
            padding: 12px;
         }

         &_num {
            padding: 12px;
         }

         &_next {
            margin-left: 8px;
            padding: 12px;
         }
      }
   }
}
