.BestSellerSlider_wrapper {
   padding-inline: 25px;
   .slick-track {
      display: flex;
      column-gap: 20px;
   }
   .slick-prev {
      &::before {
         content: url("../../assets/svg/vector-2-leftchevron.svg");
      }
   }
   .slick-next {
      &::before {
         content: url("../../assets/svg/vector-2-rightchevron.svg");
      }
   }

   ul.slick-dots {
      bottom: -40px;
      li {
         width: 50px !important;
         button {
            width: 50px !important;
            &::before {
               content: "" !important;
               width: 50px !important;
               height: 8px !important;
               background-color: white;
               border-radius: 50px;
               transition: 0.3s ease-in-out all !important;
            }
         }
      }

      li.slick-active {
         width: 50px !important;
         button {
            width: 50px !important;
            &::before {
               top: -1px;
               content: "" !important;
               width: 50px !important;
               height: 10px !important;
               background-color: white;
               border-radius: 50px;
            }
         }
      }
   }
}
